/* Layout
----------------------------*/
html, body, #home {
    height: 100%;
}


body {
    background: url(/imagens/capa.png),
                url(/imagens/ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica,Arial,sans-serif;
}


/* Barra de Navegação*/

nav.navbar-trasparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.4);
    margin-right: 20px;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/* Capa 
_____________________________*/
.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 15px;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

/* Tipografia
_______________________________*/
h1 {
    font-weight: 900;   /*tamanho*/
    letter-spacing: -0.05em; /*controlar o espaço entre as letras*/
    margin-bottom: 50px;
    color: white;
}

/* Estrutura de Conteudo*/
#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns {
    padding: 10px 0px;
}

/* `xs` returns only a ruleset and no media query */
@media (max-width: 575.98px) {
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
    .logo {
        margin-left: 20px;
    }
    
 }

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    h1 {
        font-size: 4em;
    }
 .btn-custom {
        margin: 10px 15px;
    }
 }

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
    h1 {
        font-size: 5em;
    }
   


 }

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
    h1 {
        font-size: 6em;
    }


 }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
    h1 {
        font-size: 7em;
    }


 }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {

 }